<div class="login-container">
  <div class="login-card">

    @if (!showSuccess) {
    <div class="login-header">
      <h2>Defina sua nova senha</h2>
      <p>Escolha uma senha forte que você ainda não tenha usado antes.</p>
    </div>

    <form class="login-form" [formGroup]="resetPasswordForm" (ngSubmit)="handleUpdate()" novalidate>

      <div class="form-group">
        <div class="input-wrapper password-wrapper" [class.focused]="activeField === 'password'">
          <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" placeholder=" "
            (focus)="activeField = 'password'" (blur)="activeField = ''" required>
          <label [class.has-value]="resetPasswordForm.get('password')?.value">Nova Senha</label>
          <button type="button" class="password-toggle" (click)="togglePassword()">
            <span class="eye-icon" [class.show-password]="passwordVisible"></span>
          </button>
          <span class="focus-border"></span>
        </div>
        @if (getFieldError('password')) {
        <span class="error-message show">
          {{ getFieldError('password') }}
        </span>
        }
      </div>

      <div class="form-group">
        <div class="input-wrapper password-wrapper" [class.focused]="activeField === 'confirmPassword'">
          <input [type]="passwordVisible ? 'text' : 'password'" formControlName="confirmPassword" placeholder=" "
            (focus)="activeField = 'confirmPassword'" (blur)="activeField = ''" required>
          <label [class.has-value]="resetPasswordForm.get('confirmPassword')?.value">Confirmar Nova Senha</label>
          <span class="focus-border"></span>
        </div>

        @if (resetPasswordForm.hasError('mismatch') && resetPasswordForm.get('confirmPassword')?.touched) {
        <span class="error-message show">As senhas não coincidem.</span>
        }
      </div>

      <button type="submit" class="btn" [class.loading]="isSubmitting" [disabled]="isSubmitting">
        <span class="btn-text" [style.opacity]="isSubmitting ? 0 : 1">Atualizar Senha</span>
        @if (isSubmitting) { <span class="btn-loader"></span> }
      </button>
    </form>
    } @else {
    <div class="success-message show">
      <div class="success-icon">✓</div>
      <h3>Sucesso!</h3>
      <p>Sua senha foi atualizada com sucesso! Agora você conseguirá realizar login.</p>
      <div class="signup-link" style="margin-top: 20px;">
        <a routerLink="/login">Ir para Login</a>
      </div>
    </div>
    }
  </div>
</div>